body {
  background-color: blue;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  /* justify-content: right; */
}

.mainContent {
  background-color: maroon;
  margin: auto;
  width: 50%;
  height: 100%;
}

header {
  align-items: left;
}

#logo {
  font-size: 50px;
  color: white;
  font-family: "PT Sans Narrow";
  font-style: italic;
  letter-spacing: 0.02em;
}

#logo:hover {
  cursor: pointer;
}

.diceBox {
  display: flex;
}

.diceLoc {
  border-radius: 10%;
  width: 20%;
  height: 104px;
}

.dice {
  padding: 0.5em;
  background-color: white;
  /* width: 104px; */
  /* width: 5em; */
  width: 75%;
  height: 75%;
  border-radius: 10%;
  margin: 0.3em;
}

.dot {
  display: block;
  /* width: 24px; */
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  background-color:black;
}

.face1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.face2, .face3, .face4, .face5, .face6 {
  display: flex;
  justify-content : space-between;
}

.face2 .dot:nth-of-type(2) {
  align-self: flex-end;
}

/* .face3 {
  display: flex;
  justify-content : space-between;
} */

.face3 .dot:nth-of-type(2) {
  display: flex;
  align-self: center;
}

.face3 .dot:nth-of-type(3) {
  align-self: flex-end;
}

.face4 .dot:nth-of-type(2) {
  align-self: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.face5 .column:nth-last-of-type(2) {
  justify-content: center;
}

#scoreTable {
  display: flex;
  flex-direction: column;
  text-align: space-between;
}

.tableRow {
  display: flex;
  flex-direction: row;
}

#scoreValues {
  margin-left: 30px;
}

.clickableScore {
  /* background-color: rgb(163, 94, 94); */
  border-radius: 5px;
  margin: 5px;
  width: 50%;
}

.clickableScore:hover {
  background-color: rgb(163, 94, 94);
  cursor: pointer;
}