/* body {
  font-family: sans-serif;
  background-color: ivory;
  text-align: center;
}

header {
  text-align: left;
  width: 50%;
  min-width: 400px;
  display: inline-block;
}

.logo {
  font: 50px "Pacifico", "Arial";
  color: green;
}

.logoBox {
  color: #FFFFFF;
  text-decoration: none;
} */

body {
  background-color: maroon;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  align-items: right;
}

.mainContent {
  align-items: right;
}

header {
  align-items: left;
}

#logo {
  font-size: 50px;
  font-family: "PT Sans Narrow";
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.diceBox {
  display: flex;
}

.diceLoc {
  border-radius: 10%;
}

.dice {
  padding: 4px;
  background-color: white;
  width: 104px;
  height: 104px;
  border-radius: 10%;
  margin: 5px;
}

.dice .selected {
  background-color: red;
}

.dot {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color:black;
}

.face1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.face2, .face3, .face4, .face5, .face6 {
  display: flex;
  justify-content : space-between;
}

.face2 .dot:nth-of-type(2) {
  align-self: flex-end;
}

/* .face3 {
  display: flex;
  justify-content : space-between;
} */

.face3 .dot:nth-of-type(2) {
  display: flex;
  align-self: center;
}

.face3 .dot:nth-of-type(3) {
  align-self: flex-end;
}

.face4 .dot:nth-of-type(2) {
  align-self: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.face5 .column:nth-last-of-type(2) {
  justify-content: center;
}

#scoreTable {
  display: flex;
  flex-direction: row;
  text-align: space-between;
}

.tableRow {
  display: flex;
  flex-direction: row;
}

#scoreValues {
  margin-left: 30px;
}